:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  padding: 0;
  margin: 0;
}

.title {
  position: fixed;
  top: 16px;
  left: 16px;
  z-index: 999;
}

.title ul {
  display: flex;
  gap: 1rem;
}

.title ul > li {
  list-style: none;
  border: 1px solid #333;
  border-radius: 100px;
  padding: 0 8px;
}

.title ul > li.active {
  background-color: #333;
  color: #eee;
}

.title ul li > a {
  color: inherit;
  text-decoration: none;
}

.content .item {
  background: url(./bg.jpeg);
  width: 100%;
  height: 100%;
  background-size: cover;
}

.content .label {
  display: block;
  position: absolute;
  font-size: 4rem;
  font-weight: 600;
  font-style: italic;
  bottom: 2rem;
  right: 2rem;
}

.content .container {
  display: flex;
  position: relative;
  padding-left: 2rem;
  align-items: center;
  height: 100vh;
}

.content .container:last-child {
  margin-bottom: 50vh;
}

.pin-spacer:nth-child(odd) {
  background-color: #c4c4c4 !important;
}
